{%extends "layout.html"%}
{% set active_page = "Page 1" %}
{%block title%}Home{%endblock%}
{%block content%}
<h1>Page 1</h1>
<form action="/page2">
	<p>What is the tallest building in the world</p>
		<select name="buildings">
      			<option value="eiffel tower">Eiffel Tower</option>
			<option value="burj khalifa">Burj Khalifa</option>
      			<option value="seattle space needle">Seattle Space Needle</option>
			<option value="shanghai tower">Shanghai Tower</option>
		</select>
		<button type="submit">
			Submit
		</button>
	</form>
{%endblock%}
